.DS_Store

.config/anyenv/
.config/brittany/
.config/coc/
.config/Code/
.config/composer/
.config/configstore/
.config/Cypress/
.config/dconf/
.config/discord/
.config/dlv/
.config/enchant/
.config/evolution/
.config/firebase/
.config/fontforge/
.config/gatsby/
.config/gedit/
.config/gh/
.config/google-chrome/
.config/gtk-3.0/
.config/gtk-4.0/
.config/ibus/
.config/htop/
.config/irb/
.config/iterm2/
.config/karabiner/automatic_backups/
.config/kotap/
.config/mocword/
.config/nautilus/
.config/nextjs-nodejs/
.config/nix/
.config/nixpkgs/
.config/obs-studio/
.config/op/
.config/psysh/
.config/pulse/
.config/regend/
.config/TabNine/
.config/tabtab/
.config/update-notifier/
.config/vlc/
.config/wireshark/
.config/yarn/
.config/zsh/.zcompcache
.config/zsh/.zprofile
.config/zsh/.zsh_history
.config/zsh/config/local.zsh
.config/gnome-initial-setup-done
.config/lemonade.toml
.config/mimeapps.list
.config/user-dirs.dirs
.config/user-dirs.locale
