.DS_Store

.config/anyenv
.config/brittany
.config/coc
.config/configstore
.config/dlv
.config/fontforge
.config/gatsby
.config/gh
.config/htop
.config/karabiner/assets
.config/karabiner/automatic_backups
.config/kotap
.config/nix
.config/nixpkgs
.config/regend
.config/tabtab
.config/yarn
.config/zsh/.zcompcache
.config/zsh/.zprofile
.config/zsh/.zsh_history
