set history=100 " コマンド、検索パターンを100個まで履歴に残す

set hlsearch   " 検索結果をハイライトする
set incsearch  " インクリメンタルサーチをする
set ignorecase " 大文字と小文字の区別なく検索する
set smartcase  " ただし，大文字を含めた検索はそのとおりに検索する

set scrolloff=6       " スクロール時上下に確保する行数
set sidescrolloff=15  " 左右スクロール時に確保する行数
set sidescroll=1      " 左右スクロールは1文字ずつ行う

set clipboard=unnamed,autoselect " クリップボードを共有

" insert mode 
inoremap <C-[> <ESC> " ctrl + [ で ESC

" normal + visual mode
"" セミコロンとコロンの入れ替え
noremap ; :
noremap : ;
noremap <CR> o<Esc> " Enter 押すと改行する

" normal mode
" esc 2連打でハイライトを消す
nnoremap <Esc><Esc> :<C-u>set nohlsearch<Return>
"" space だけ押しても移動しないようにする
nnoremap <Space> <Nop>
"" ショートカットたち
nnoremap <Space>h ^
nnoremap <Space>l $
nnoremap <Space>/ *
