$if Bash
  set show-all-if-ambiguous off
  set bell-style none
  set visible-stats on
  set completion-ignore-case on
  set horizontal-scroll-mode off
  set bell-style none
  set expand-tilde off
  set convert-meta off
  set input-meta on
  set output-meta on
  space: magic-space
  "\C-p": history-search-backward
  "\C-n": history-search-forward
  "\e[A": history-search-backward
  "\e[B": history-search-forward
$endif
